# Temp and backup files
tmp/
*.old
*.tmp
*.bak
*.swp

# Windows detritus
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini

# Standart Blizzard addon folders
/Interface/Addons/Blizzard*
# Other Addons
/Interface/Addons/DBM*
/Interface/Addons/HandyNotes*
/Interface/Addons/PassLoot/
/Interface/Addons/m_ActionBars/*

# Game config
/WTF/Config.wtf

# Game cache and config per account and standart Blizzard addon configs
/WTF/Account/*
!/WTF/Account/DEFEATEDANGEL/SavedVariables/

# Game cache and config per character and standart Blizzard addon configs
/WTF/Account/DEFEATEDANGEL/Ясеневый лес/
!/WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/
/WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/
!/WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/
/WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/Blizzard_*.lua

/Cache/
/Errors/
/Logs/
/Screenshots/

/run.bat
*.sublime-project
*.sublime-workspace

WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/Blizzard_BattlefieldMinimap.lua
WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/Blizzard_BattlefieldMinimap.lua
WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/Blizzard_BattlefieldMinimap.lua
WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/Blizzard_ClientSavedVariables.lua
WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/Blizzard_RaidUI.lua
WTF/Account/DEFEATEDANGEL/Ясеневый лес/Манриэль/SavedVariables/Blizzard_TimeManager.lua
