# Temp and backup files
tmp/
*.old
*.tmp
*.bak
*.swp

# Windows detritus
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini

/Cache
/Errors
/Logs
/Screenshots
/run.bat

*.sublime-project
*.sublime-workspace

/Interface/Addons/Blizzard*
Blizzard_*.lua
/WTF/Config.wtf
/WTF/Account/*/macros-cache.txt
/WTF/Account/*/config-cache.wtf
/WTF/Account/*/cache.md5
/WTF/Account/*/bindings-cache.wtf